@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the lab assignment for NETD, and i have made the website using the entity framework. The main purpose of this server is to store the data about the
        customers and the orders they have paid. Its a hypothetical project, but i have tried my best to make it as professional as i can make it.</p>
</div>
